<center><h1 style="background-color:#8ffaaa;font-family:newtimeroman;font-size:200%;text-align:center;border-radius: 15px 10px;padding: 5px"><b><u>Project: Which customer will respond to direct mail?</u></b></h1></center>
<center><h2><b>Springleaf Marketing Response</b></h2></center>
<center><img src="https://assets.entrepreneur.com/content/3x2/2000/20200316195723-GettyImages-1136732916.jpeg?width=700&crop=2:1",height='300',width='600'></center>

##<h2> Introduction </h2>
The Springleaf Marketing Response challenge comprises of a high-dimensional dataset of anonymized customer information. Each row corresponds to one customer. The response variable is binary and labeled "target". Objective is to predict the target variable for every row in the test set.
The features have been anonymized and are comprised of a mix of continuous and categorical features. 

##<h2> Objective </h2>
To predict which customers will respond to a direct mail offer, using a large set of anonymized features.

**Data Pre-Processing**

Importing the libraries:

In [ ]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import accuracy_score

In [ ]:
#Changing working directory to Drive
from google.colab import drive
drive.mount('/content/drive')

os.chdir('/content/drive/MyDrive/Project 4/')

Mounted at /content/drive

Reading the train & test dataset:

In [ ]:
df_train = pd.read_csv('/content/drive/MyDrive/Project 4/train.csv.zip')
df_test = pd.read_csv('/content/drive/MyDrive/Project 4/test.csv.zip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,10,11,12,43,157,167,177,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_train #Viewing the training dataset

            ID VAR_0001  VAR_0002  ...  VAR_1933  VAR_1934 target
0            2        H       224  ...      9998      IAPS      0
1            4        H         7  ...      9998      IAPS      0
2            5        H       116  ...      9998      IAPS      0
3            7        H       240  ...      9998       RCC      0
4            8        R        72  ...      9998    BRANCH      1
...        ...      ...       ...  ...       ...       ...    ...
145226  290457        H       276  ...      9998    BRANCH      0
145227  290458        R        39  ...      9998      IAPS      0
145228  290459        R       103  ...      9998    BRANCH      0
145229  290461        H        78  ...      9998      IAPS      1
145230  290463        H       228  ...      9998      IAPS      0

[145231 rows x 1934 columns]

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145231 entries, 0 to 145230
Columns: 1934 entries, ID to target
dtypes: float64(477), int64(1406), object(51)
memory usage: 2.1+ GB

<u>Cleaning the dataset:</u>

*   The dataset is checked for any missing data and the respective columns are dropped.
*   Categorical features are converted to numeric
*   Filling in for the missing values

In [ ]:
#Detecting missing values from the dataset
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

           Total   Percent
VAR_0207  145231  1.000000
VAR_0213  145231  1.000000
VAR_0840  145231  1.000000
VAR_0214  145219  0.999917
VAR_0157  144311  0.993665
VAR_0158  143142  0.985616
VAR_0205  142974  0.984459
VAR_0206  142903  0.983970
VAR_0167  142664  0.982325
VAR_0177  141873  0.976878
VAR_0156  139361  0.959582
VAR_0159  139361  0.959582
VAR_0209  135844  0.935365
VAR_0168  134506  0.926152
VAR_0178  133158  0.916870
VAR_0166  131001  0.902018
VAR_0169  131001  0.902018
VAR_0176  127699  0.879282
VAR_0179  127699  0.879282
VAR_0211  125775  0.866034

In [ ]:
missing_data[missing_data["Total"] > 1]

           Total   Percent
VAR_0207  145231  1.000000
VAR_0213  145231  1.000000
VAR_0840  145231  1.000000
VAR_0214  145219  0.999917
VAR_0157  144311  0.993665
...          ...       ...
VAR_0198      56  0.000386
VAR_0085      56  0.000386
VAR_0084      56  0.000386
VAR_0083      56  0.000386
VAR_0082      56  0.000386

[525 rows x 2 columns]

In [ ]:
#Removing the columns with missing data
df_train = df_train.drop((missing_data[missing_data['Total'] > 1]).index,1)
df_test = df_test.drop((missing_data[missing_data['Total'] > 1]).index,1)

In [ ]:
df_train #The no. of columns in the dataset has reduced

            ID VAR_0001  VAR_0002  ...  VAR_1933  VAR_1934 target
0            2        H       224  ...      9998      IAPS      0
1            4        H         7  ...      9998      IAPS      0
2            5        H       116  ...      9998      IAPS      0
3            7        H       240  ...      9998       RCC      0
4            8        R        72  ...      9998    BRANCH      1
...        ...      ...       ...  ...       ...       ...    ...
145226  290457        H       276  ...      9998    BRANCH      0
145227  290458        R        39  ...      9998      IAPS      0
145228  290459        R       103  ...      9998    BRANCH      0
145229  290461        H        78  ...      9998      IAPS      1
145230  290463        H       228  ...      9998      IAPS      0

[145231 rows x 1409 columns]

In [ ]:
df_train["target"].unique()

array([0, 1])

In [ ]:
#Detecting columns with categorical features
df_train.select_dtypes(include=['O'])

       VAR_0001 VAR_0005 VAR_1934
0             H        C     IAPS
1             H        B     IAPS
2             H        C     IAPS
3             H        C      RCC
4             R        N   BRANCH
...         ...      ...      ...
145226        H        C   BRANCH
145227        R        C     IAPS
145228        R        B   BRANCH
145229        H        C     IAPS
145230        H        B     IAPS

[145231 rows x 3 columns]

In [ ]:
df_train["VAR_0001"].unique()

array(['H', 'R', 'Q'], dtype=object)

In [ ]:
#Converting categorical features to numeric
df_train['0001H'] = df_train['VAR_0001'].map({'H': 1, 'R': 0, 'Q': 0})
df_train['0001R'] = df_train['VAR_0001'].map({'H': 0, 'R': 1, 'Q': 0})
df_train['0001Q'] = df_train['VAR_0001'].map({'H': 0, 'R': 0, 'Q': 1})
df_train.pop("VAR_0001")

df_test['0001H'] = df_test['VAR_0001'].map({'H': 1, 'R': 0, 'Q': 0})
df_test['0001R'] = df_test['VAR_0001'].map({'H': 0, 'R': 1, 'Q': 0})
df_test['0001Q'] = df_test['VAR_0001'].map({'H': 0, 'R': 0, 'Q': 1})
df_test.pop("VAR_0001")

0         R
1         R
2         R
3         R
4         H
         ..
145227    R
145228    R
145229    H
145230    H
145231    H
Name: VAR_0001, Length: 145232, dtype: object

In [ ]:
df_train["VAR_0005"].unique()

array(['C', 'B', 'N', 'S'], dtype=object)

In [ ]:
#Converting categorical features to numeric
df_train['0005C'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005B'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005N'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005S'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train.pop("VAR_0005")

df_test['0005C'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005B'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005N'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005S'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test.pop("VAR_0005")

0         B
1         C
2         C
3         B
4         C
         ..
145227    B
145228    C
145229    B
145230    B
145231    B
Name: VAR_0005, Length: 145232, dtype: object

In [ ]:
df_train["VAR_1934"].unique()

array(['IAPS', 'RCC', 'BRANCH', 'MOBILE', 'CSC'], dtype=object)

In [ ]:
#Converting categorical features to numeric
df_train['1934_IAPS'] = df_train['VAR_1934'].map({'IAPS': 1, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_train['1934_RCC'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 1, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_train['1934_BRANCH'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 1, 'MOBILE': 0, 'CSC': 0})
df_train['1934_MOBILE'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 1, 'CSC': 0})
df_train['1934_CSC'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 1})
df_train.pop("VAR_1934")

df_test['1934_IAPS'] = df_test['VAR_1934'].map({'IAPS': 1, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_test['1934_RCC'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 1, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_test['1934_BRANCH'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 1, 'MOBILE': 0, 'CSC': 0})
df_test['1934_MOBILE'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 1, 'CSC': 0})
df_test['1934_CSC'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 1})
df_test.pop("VAR_1934")

0           IAPS
1           IAPS
2           IAPS
3           IAPS
4           IAPS
           ...
145227    BRANCH
145228      IAPS
145229    BRANCH
145230      IAPS
145231      IAPS
Name: VAR_1934, Length: 145232, dtype: object

In [ ]:
#Ensuring that all categorical columns are encoded
sum(df_train.select_dtypes(include=['O']))

0

In [ ]:
#Filling in the missing data
df_train = df_train.fillna(-1)
df_test = df_test.fillna(-1)

In [ ]:
df_train['target1'] = df_train["target"]
df_train.pop('target')
df_train

            ID  VAR_0002  VAR_0003  ...  1934_MOBILE  1934_CSC  target1
0            2       224         0  ...            0         0        0
1            4         7        53  ...            0         0        0
2            5       116         3  ...            0         0        0
3            7       240       300  ...            0         0        0
4            8        72       261  ...            0         0        1
...        ...       ...       ...  ...          ...       ...      ...
145226  290457       276       144  ...            0         0        0
145227  290458        39       414  ...            0         0        0
145228  290459       103        31  ...            0         0        0
145229  290461        78        12  ...            0         0        1
145230  290463       228       120  ...            0         0        0

[145231 rows x 1418 columns]

**Training XGBoost Classifier**

In [ ]:
featureNames = df_train.columns[1:-1]

In [ ]:
#Taking a sub-sample of training set to reduce memory consumption
df_train = df_train.sample(n=20000)


#Training XGBoost classifier
dtrain = xgb.DMatrix(df_train[featureNames].values, label=df_train['target1'].values)

param = {'max_depth':2, 
         'eta':1, 
         'objective':'binary:logistic', 
         'eval_metric': 'auc'}
clf = xgb.train(param, dtrain, 20)


#Making predictions in batches
Prediction = df_test[['ID']]
Prediction['target1'] = np.nan
step = len(Prediction)/10000
for rows in range(0, len(Prediction), int(step)):
    Prediction.loc[rows:rows+step, "target"] = clf.predict(xgb.DMatrix(df_test.loc[rows:rows+step, featureNames].values))


#Saving the output file
#Prediction.to_csv("xgboost_output.csv", index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Output of the model is saved in the working directory.